# Ignore build files
/build/
/CMakeCache.txt
/CMakeFiles/
Makefile

# Ignore compiled binaries
*.o
*.a
*.exe

# Allow all shared libraries in the lib/ directory
!lib/*.so

# Ignore system-specific files
.DS_Store
Thumbs.db

